{% extends 'base.html' %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h2 class="mb-4 text-center">Please Sign In</h2>
    <form method="post" action="{{ url_for('views.login') }}">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input name="username" id="username"
               class="form-control" required autofocus>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input name="password" id="password" type="password"
               class="form-control" required>
      </div>
      <button class="btn btn-primary w-100" type="submit">
        Log In
      </button>
    </form>
  </div>
</div>
{% endblock %}

